*{
    /* box-sizing: border-box 설정하기!! */
    box-sizing: border-box;
}
h1, div, p{
    border: 1px solid #333;
}
h1{
    width: 200px;
    height: 50px;
    background-color: beige;
    /* box-sizing: border-box; */
    /* box-shadow: 수평거리 수직거리 흐림정도 번짐정도 색상; */
    /* box-shadow: 5px 5px 15px 5px green; */
    box-shadow: 0px 1px 6px 0px rgba(32, 33, 36, 0.28)
}
div{
    width: 200px;
    height: 100px;
    background-color: bisque;
    /* inset을 하면 안에 그림자 */
    box-shadow: 2px -5px 5px lightgreen inset;
    border-radius: 50%;
}
/* 테두리 스타일 적용 */
p{
    /* border-style: dashed;
    border-width: 3px;
    border-color: aquamarine; */
    /* border: 5px double rgb(134, 134, 182) */
    border-left: 5px double blue;
/* 위 오른쪽 아래 왼쪽 순서임 */
    /* border-radius: 10px 20px 30px 40px;  */
/* 위아래 / 왼쪽 오른쪽 */
/* border-radius: 20px 50px; */
/* 한 개만 적으면 전체를 뜻함 */
border-radius: 30px;
}   