*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul, li{
    list-style: none;
}
.flex-container{
    /* width: 600px; */
    background-color: antiquewhite;
    margin: 100px auto;
    padding: 10px;
}
.flex-container ul{
    background-color: rgb(253, 250, 242);
    display: flex;
    /* flex-direction: column; */
    /* flex-direction: column-reverse; */
    /* 줄 바꿈은 flex-wrap */
    flex-wrap: wrap;
    gap: 10px;
}
.flex-container ul li{
    background-color: rgb(201, 185, 170);
    /* width: calc((100% / 4) - 9px); */
    /* calc((100% - 띄울 px) / 한 줄에 넣을 수로 나누기) */
    width: calc((100% - 30px) / 4);
    /* flex: 1; */
    padding: 10px;
    color: rgb(99, 82, 61);
    text-align: center;
    /* margin-right: 10px; */
}

/* 이미지 레이아웃 */
.img-container{
    width: 700px;
    margin-bottom: 10px;
    background-color: antiquewhite;
    padding: 20px;
    display: flex;
    gap: 20px;
}

/* 레이아웃 연습 */
.ex{
    width: 700px;
    margin: 0 auto;
    background-color: pink;
    padding: 15px;
}
.ex h4{
    border-bottom: 1px solid #333;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
.ex ul{
    display: flex;
    gap: 50px;
    padding: 10px;
}
.ex ul li{
    text-align: center;
    background-color: lemonchiffon;
    padding: 10px;
    width: calc(100% / 3);
}
.ex ul li img{
    width: 150px;
}

